.App {
  text-align: center;
}

/* .home-page{
  margin-right: 50%;
  margin-left: 50%;
} */

.NavLink {
  color: gray;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.Form-Container {
  /* display: flex; */
  width: 70% !important;
  /* border: 1px solid gray; */
  border-radius: 10px;
  margin-top: 1.5rem;
  /* margin-bottom: 5rem; */
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgb(219, 218, 218);
  background-color: rgba(250, 248, 248, 0.884);
}
